body {
    overflow-x: hidden;
    background: #FEF9F5;
    margin: 0;
    font-family: Arial, sans-serif; 
}

* {
    box-sizing: border-box;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    background: #FEF9F5;
    height: 8.125rem;
    padding: 0 0 0 2rem; 
    z-index: 11;
    position: relative;
    height: 14vh;
    border-bottom: none;

}

.navbar-left h2 {
    height: 2rem;
    color: #000;
    font-family: "Bacasime Antique", serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    height: 14vh;
    width: 222px;
    border-left: 1px solid black;
  }

.navbar-right i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}

/* ICONS */
.icon-bag  {
    stroke: #000;
    stroke-width: 5px;
}

.icon-menu {
    width: 20.71px;
    height: 20px;
}


.navbar-right svg {
  cursor: pointer;
}

.icon-menu svg:hover {
    stroke: #555; /
}

/* BANNER 1 */
.banner {
    position: relative;
    height: 44.6875rem;
    border: 1px solid #000;
    background: #FEF9F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77.5vh;
}

.banner h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 129.875rem;
    height: 15.9375rem;
    text-align: center;
    color: #000;
    font-family: "Bacasime Antique", serif;   
    font-size: 21vw;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    z-index: 1;
}

.img-sup {
    display: none;
}

.banner-images {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; 
}
.banner-images-media-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.banner-images-media-screen img:first-child {
    display: none;
}
.banner-images-media-screen img:last-child {
    display: none;
}


.banner-images img:first-child {
    position: absolute;
    transition: all 0.4s ease;
    height: 66vh;
    top: 13%;
    
}

.banner-images img:last-child {
    position: absolute;
    right: 0;
    height: 90vh;
    transition: all 0.4s ease;
}
.banner:hover .banner-images img:first-child {
    transform: translateX(-59%) rotate(4.847deg);
}



.banner:hover .banner-images img:last-child {
  /*   right: -14%;
    transform: rotate(-4.847deg); */
    transform: translateX(59%) rotate(-4.847deg);
}


/* SMALL BAR */
 .small-bar {
    overflow: hidden; 
    height: 4.6875rem;
    border: 1px solid #000;
    background: #AD3E39; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8.5vh;
}
.texto-carrusel {
    position: relative;
    padding-left: 82px;    
    width: 27.3125rem;
      height: 2rem;
      color: #000;
      font-family: "Bacasime Antique", serif;
      font-size: 2rem;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    

/* SMALL BANNER*/
.small-banner {
    height: 19.125rem; 
    border: 1px solid #000; 
    background: #F1ECE9; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}
/* Contenedor del carrusel */
.carrusel-contenedor {
    width: 100%;
    height: 100px; 
    overflow: hidden; 
    background-color: #f8f8f8;
    position: relative;
}

/* Clase texto carrusel */
.texto-carrusel {
    animation: scroll-horizontal 40s linear infinite; 
}

/* Definición de la animación de desplazamiento horizontal */
@keyframes scroll-horizontal {
    0% {
        left: 0%;
    }
    100% {
        left: -100%; 
    }
}


/* TITULO SMALL BANNER*/
.title {
    color:rgb(184, 71, 70); 
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem; 
    text-align: center;
}

/* PAR PAR PAR PAR*/
.description {
    width: 29.4375rem; 
    height: 4.5rem; 
    color: #b55756; 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/*firma*/

.firma{
    display: flex;
    justify-content: end;
}
.final-text {
    color: #ac5352; 
    font-family: Arial; /
}

/* SHOP SECTION SHOP SECTION */
.shop-section {
    display: flex; 
}

/* CARDS CARDS CARDS */
.product-card {
    width: 33.333%; 
    border: 1px solid #000; 
    background: #FEF9F5; 
    display: flex; 
    flex-direction: column; 
    position: relative; 
    overflow: hidden; 
    justify-content: center;
    aspect-ratio: 3 / 4;
}

/* IMG IMG IMG */
.product-card img {
    max-width: 100%; 
    max-height: 60%; 
    object-fit: contain; 
    margin-bottom: 1rem; 
}
.producto-3 img{
    max-height: 30%;
}


/*CARD TITTLE CARD TITTLE CARD TITTLE */
.product-card h4 {
    color: #000;
    font-size: 1.25rem; 
    margin: 0 0 10px 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* PRECIO */
.product-card p {
    color: rgba(0, 0, 0, 0.48); 
    font-family: "Open Sans Hebrew"; 
    font-size: 1rem; 
    margin: 0 0 10px 10px;
}

/* BOTON*/

.text-box {
    position: absolute; 
    bottom:10px; 
    left: 10px;
}

.product-card button {
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #FEF9F5;
    border: #000 1px solid;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    padding: 15px;
    font-weight: 500;
    color: #000000;
    transition: all 0.2s ease; 
}
.product-card:active button{
    transform: scale(0.95); 
  }

.product-card:hover button {
    display: block;
}

/* HOVER */
.product-card:hover {
    background-image: url('assets/fondo-2.png');
    background-size: cover;
    color: white;
    transition: background 0.3s ease;
}

.product-card:hover h4,
.product-card:hover p {
    color: white;
}

/* BOX IMG Y TEXTO */
.text-image-section {
    display: flex;
    width: 100%;
    
}

.text-box2 {
    width: 50%;
    border: 1px solid #000;
    color: #000;
    font-family: 'Playfair';
    font-size: 3rem;
    letter-spacing: -0.18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 60px;
    aspect-ratio: 1 / 1;
    padding: 2rem 2rem 0 2rem;
}

/* PAR PAR*/
.text-box2 p {
    margin: 0;
    position: relative;
}

#par-1 {
    transform: translateX(-10%);
}
#par-2 {
    transform: translateX(20%);
}
#par-3 {
    transform: translateX(-30%);
}
#par-4 {
    transform: translateX(105%);
}
#par-1 {
    transform: translateX(-10%) rotate(4deg);
}
#par-2 {
    transform: translateX(20%) rotate(-4deg);
}
#par-3 {
    transform: translateX(-30%) rotate(4deg);
    /* transform: rotate(4deg); */
}

#par-4 {
    transform: translateX(80%) rotate(10deg);
    animation: move 3s infinite ease-in-out, rotate 4s infinite ease-in-out;
    white-space: nowrap;
}

/*  @keyframes move {
    0% {
        top: 0%;
        left: 0%;
        
    }
    25% {
        top: 15%;
        left: 0;
    }
    50% {
        top: 0%;
        left: 0%;
    }
    5% {
        top: 0;
        left: 0%;
    }
    100% {
        top: 0;
        left: 0;
    }
} 

 */

/* IMG */
.image-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #000;
    background: #FEF9F5;
    aspect-ratio: 1 / 1;

}

.image-box img {
    width: 15.4375rem;
    height: 26.125rem;
    object-fit: cover;
}

/* FOOTER FOOTER */
.footer {
    border:#000 2px solid;
    height: 33.125rem;
    background: #AD3E39;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TITULO FOOTER*/
.footer-word {
    color: #000;
    text-align: center;
    font-family: "Bacasime Antique";
    font-size: 20vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
@media screen and (max-width: 1440px) {
    .banner h1 {
        top: 50%;
        font-size: 19vw;        
}

}

@media screen and (max-width: 1000px) {
    .banner h1 {
        height:auto;
        z-index: 2;
    }
    .img-sup {
        display: block;
    }

    .banner-images-media-screen img:first-child {
        display: block;
        position: absolute;
        transition: all 0.4s ease;
        height: 36vh;
        top: 58%;
        z-index: 1;
      }

      .sup1 {
        display: block;
        position: absolute;
        right: 0%;
        height: 34vh;
        top: 0%;
        transition: all 0.4s ease;
        z-index: 1;
/*         transform: scaleX(-1);
 */      }

      .sup2 {
        display: block;
        position: absolute;
        transition: all 0.4s ease;
        height: 39vh;
        top: -1%;
        left: 0%;;
        z-index: 1;
/*         transform: scaleX(-1);
 */  }
      .banner-images-media-screen img:last-child {
        display: block;
        position: absolute;
        right: 0%;
        height: 37vh;
        top: 57%;
        transition: all 0.4s ease;
        z-index: 1;
      }
   .banner-images img:last-child {
        display: none;

    }

    .banner-images img:first-child {
        display: none;
      
    } 

    .shop-section {
        display: flex;
        flex-wrap: wrap;
    }

    .product-card {
        width: 100%;
      }
    
    .text-image-section {
        display: flex;
        flex-wrap: wrap;
    }
    .text-box2 {
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    .image-box {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

}


@media screen and (max-width: 700px) {
    .navbar-left h2 {
        height:auto;
        font-size:1.3rem;
    }
    .banner {
        height: 75vh;
    }

    .banner h1 {
        height:auto;
    }

    .banner-images-media-screen img:first-child {
        height: 33vh;
        left: -2%;
        top: 60%;      
    }

      .sup1 {
        height: 33vh;
        right: -3%;
        }

      .sup2 {
        height: 34vh;

     }
      .banner-images-media-screen img:last-child {
        height: 35vh;
        transform: rotate(-03deg);
        right: -2%;
        top: 60%;
    }

    .text-container{
        font-size: calc(rem - 1vw); 
        max-width: 100vw;
    }
    .description {
        max-width: 90vw;
    }

    .firma { 
        margin-top: 2rem;
    }
    .text-box2 {
        width: 100%;
        aspect-ratio: 1 / 1;
        padding: 2rem;
    }
    .text-box2 p {
        margin: 0;
        position: relative;
        font-size: 2rem;
      }
    #par-1, #par-2, #par-3, #par-4 {
/*         transform: none;
 */    }
    .image-box {
        width: 100%;
        aspect-ratio: 1 / 1;
        padding: 2rem;
    }
}